<nav>
  <ul>
    <li><p class="icon">Fitness Club</p> </li>
    <li><a href="/app/fitness-club/fitness-club.component.html">About</a></li>
    <li><a href="">Schedule</a></li>
    <li>
      <div class="dropdown">
      <button class="dropbtn">Services
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Gym</a>
        <a href="#">Group programs</a>
        <a href="#">Children's club</a>
        <a href="#">Martial arts</a>
        <a href="#">Extra services</a>
      </div>
    </div>
    </li>
    <li><a href="">Trainers</a></li>
    <li><a href="">Contacts</a></li>
  </ul>
</nav>


