<nav>
  <ul>
    <li><p class="icon">Fitness Club</p> </li>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/schedule">Schedule</a></li>
    <li>
      <div class="dropdown">
      <button routerLink="/services" class="dropbtn">Services
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Gym</a>
        <a href="#">Group programs</a>
        <a href="#">Children's club</a>
        <a href="#">Martial arts</a>
        <a href="#">Extra services</a>
      </div>
    </div>
    </li>
    <li><a routerLink="/trainers">Trainers</a></li>
    <li><a routerLink="/contacts">Contacts</a></li>
    <li><a routerLink="/request">Leave request</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<!--<div>-->
<!--  <h1>Angular routes</h1>-->
<!--  <nav>-->
<!--    -->
<!--    -->

<!--    <a routerLink="/request">Request Form</a>-->
<!--  </nav>-->

<!--</div>-->


