<footer>
  <div class="container">
  <div class="contacts">
    <h2>Contacts</h2>
  <p>Satpayeva,21</p>
    <ul>
  <li><img src="/assets/images/insta.svg" alt="insta"/></li>
  <li><img src="/assets/images/vk.svg" alt="vk"/></li>
    </ul>
  </div>
    <div class="schedule">
  <h2> Schedule </h2>
  <table>
  <tr>
    <th>Weekdays</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
    <tr>
      <td>07:30 - 21:30</td>
      <td>09:00 - 16:00</td>
      <td>09:00 - 16:00</td>
    </tr>
  </table>
    </div>
  </div>
</footer>

