<div class="container">

<form class="request"  #requestForm="ngForm" (ngSubmit)="sendRequest(request)">
<h1>Send a request!</h1>
  <div><input class="form-control" type="text" name="userId"  placeholder="Id" required
              [(ngModel)]="request.userId"
              #idVar="ngModel"
              [ngClass]="{'is-invalid': (idVar.touched || idVar.dirty) && !idVar.valid }"/>
    <span *ngIf="idVar.errors?.required">
      Please enter your id!
    </span>
  </div>
 <div><input class="form-control" type="text" name="amount"  placeholder="Amount of money"
             required
             minlength="5"
             [(ngModel)]="request.amount"
             #nameVar="ngModel"
             [ngClass]="{'is-invalid': (nameVar.touched || nameVar.dirty) && !nameVar.valid }" />
   <span *ngIf="nameVar.errors?.required">
     Please enter amount of money!
   </span>
 </div>
  <div>
    <select class="form-control" name="subscriptionType" placeholder="Choose subscription!"
            [(ngModel)]="request.subscriptionType"
            #idVar="ngModel"
            [ngClass]="{'is-invalid': (idVar.touched || idVar.dirty) && !idVar.valid }">
      <option *ngFor="let subType of subTypes" value="{{subType.name}}">{{subType.name}}</option>
      <span *ngIf="nameVar.errors?.required">
        Please choose subscription type!
      </span>
    </select>
  </div>
  <input [disabled]="!requestForm.valid" class="btn" type="submit" value="Send request">
</form>

</div>
