<div class="container">

<form class="request"  #requestForm="ngForm" (ngSubmit)="addNewRequest(requestForm)">
<h1>Send a request!</h1>
  <div><input class="form-control" type="text" name="id"  placeholder="Id" required
              ngModel
              #idVar="ngModel"
    [ngClass]="{'is-invalid': (idVar.touched || idVar.dirty) && !idVar.valid }"/>
    <span *ngIf="idVar.errors?.required">
              Please enter id.
            </span>
  </div>
 <div><input class="form-control" type="text" name="name"  placeholder="Full name"
             required
             minlength="5"
             [(ngModel)]="request.amount"
             #nameVar="ngModel"
             [ngClass]="{'is-invalid': (nameVar.touched || nameVar.dirty) && !nameVar.valid }" />
          <span>
            <span *ngIf="nameVar.errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="nameVar.errors?.minlength">
              The full name must be longer than 5 characters.
            </span>
          </span>
 </div>
  <div>
    <select name="cars" id="cars"
            [(ngModel)]="request.subscriptionType">
      <option value="volvo">Volvo</option>
    </select>
  </div>
  <input [disabled]="!requestForm.valid" class="btn" type="submit" value="Send request">
  <div *ngIf="msgTrue">Request is sent successfully!</div>
</form>

</div>
