<div class="image">
  <div class = "text">
    <h1>MARTIAL ARTS</h1>
    By training his body, learning combat techniques, fighting and defeating opponents,
    a Warrior gains the strength of spirit to win, first of all, over himself and his own weaknesses.
  </div>
</div>

<div class="container">
  <div class="block">
    <h2>3+ AGE OF STUDENTS</h2>
    <p>Both adults and children are engaged in martial arts,
      and each age group has its own program</p>
    <img src = "/assets/images/martial1.jpg" class="img1" alt="martial">
  </div>
  <div class="block">
    <h2>OUR EQUIPMENT</h2>
    <p>Professional tatami, halls are equipped with ropes,
      a punching bag and other necessary equipment</p>
    <img src = "/assets/images/martial2.jpg" class="img1" alt="martial">
  </div>
</div>

