<div class="container">
<h2>Fitness Club</h2>
  <h3>Our fitness club is: </h3>
  <div class="img">
    <img src="https://st2.depositphotos.com/1017986/6068/i/600/depositphotos_60681389-stock-photo-young-man-and-woman-training.jpg">
  </div>

  <div class ="list">
<ol class = "rounded-list">
  <li> <p> 600 square meters gym, with the best training equipment in the world — MATRIX </p></li>
  <li> <p> Comfortable dressing rooms </p></li>
  <li> <p> 3 training rooms for group programs </p></li>
  <li> <p> Modern climate-control system </p></li>
  <li> <p> CYCLE Studio with the cinema </p></li>
  <li> <p> CrossZone with functional frame MATRIX </p></li>
  <li> <p> ELEIKO Professional bench press bench </p></li>
  <li> <p> Personal Training Studio </p></li>
  <li> <p> Yoga and Pilates </p></li>
  <li> <p> Studio ANTIGRAVITY-training on hammocks </p></li>
</ol>
</div>
</div>
