.container{
  width: 1080px;
  margin: 0 auto;
  padding: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li img {
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
li {
  display: inline-block;
}
.tittle{
  text-align: center;
  font-size: 1.5em;
  padding: 0 50px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  color: #ff6666 ;
}
