<div class="container">
<nav>
  <div class="tittle"><h1>Services</h1></div>
  <ul>
    <li><a routerLink="/gym">Gym</a></li>
    <li><a routerLink="/group">Group programs</a></li>
    <li><a routerLink="/children">Children's club</a></li>
    <li> <a routerLink="/martial">Martial arts</a></li>
    <li><a routerLink="/extra">Extra services</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<br>
<div class="block">
  <h1>Our fitness club provide the big range of various services!</h1>
</div>
<div class="block">
  <div class ="list">
    <ol class = "rounded-list">
      <li> <p> The gym is 600 sq. m., equipped with the best equipment in the world</p></li>
      <li> <p> Special trainings for your children in our children club </p></li>
      <li> <p> Convenient and rich schedule, professional trainers for group programs </p></li>
      <li> <p> Martial arts both for adults and children </p></li>
      <li> <p> Extra services as fitness bar, sauna and tanning studio </p></li>
    </ol>
  </div>
</div>
</div>
