<div class="image">
  <div class = "text">
    <h1>CHILDREN'S CLUB</h1>
    This is a variety of interesting and most useful educational activities for children
    from 2 to 16 years old. Your child will love sports as much as we do!
  </div>
</div>

<div class="container">
  <div class="block">
    <h2>2 YEARS MINIMUM AGE</h2>
    <p>We have children aged from 2 to 16 years old. There are special season tickets and programs for them.
      The training schedule is designed so that it is convenient for children to attend them regularly.
      The club's coaches have higher sports and medical education, high sports achievements, ranks, and regalia</p>
    <img src = "/assets/images/child.jpg" class="img1" alt="child">
  </div>
  <div class="block">
    <h2>FITNESS ZONE</h2>
    <p>Children have the opportunity to practice in any of their favorite areas: dance groups
      MALYSHARIKI and LIME, HIP-HOP, Anti-gravity, Healthy Back, physical therapy, general physical training,
      Programs for teenagers, BOXING and JUDO sections.
      The opportunity to participate in competitions, receive sports categories.</p>
    <img src = "/assets/images/child2.jpg" class="img1" alt="child">
  </div>
</div>
