<div class="image">
  <div class = "text">
    <h1>EXTRA SERVICES</h1>
    By training his body, learning combat techniques, fighting and defeating opponents,
    a Warrior gains the strength of spirit to win, first of all, over himself and his own weaknesses.
  </div>
</div>

<div class="container">
  <h2>EXTRA SERVICES</h2>
  <div class="block">
    <img src = "/assets/images/tanning.jpg" class="img" alt="tanning">
  </div>
  <div class="block">
    <img src = "/assets/images/sauna.jpg" class="img" alt="sauna">
  </div>
  <div class="block">
    <div class ="list">
      <ol class = "rounded-list">
        <li> <p> Fitness Bar</p></li>
        <li> <p> Sportswear Boutique </p></li>
        <li> <p> Tanning Studio </p></li>
        <li> <p> Sauna </p></li>

      </ol>
    </div>
  </div>
</div>

