.img{
  width: 200px;
  margin: 0 auto;
}
.container{
  width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}
.trainer{
  display: inline-block;
  width: 210px;
  margin: 30px;
}

.tittle{
  text-align: center;
  font-size: 1.5em;
  padding: 0 50px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  color: #ff6666 ;
}

