<div class="container">
  <div class="tittle"><h1>Schedule</h1></div>
<table>
  <tr>
    <th>Programme</th>
    <th>Time</th>
    <th>Price</th>
    <th>Trainer</th>
  </tr>
  <tr class="grey">
    <td>Taekwondo</td>
    <td>Tue-Thu 9:30-11:30, 17:00-19:00, Sat 19:00-21:00</td>
    <td>10 000 tg </td>
    <td>Steven</td>
  </tr>
  <tr class="darkgrey">
    <td>Fitmix Pilates+Yoga</td>
    <td>Tue-Thu 19:00-20:00, 20:00-21:00, Sat 10:30-11:30, Mon-Wed-Fri 11:00-12:00</td>
    <td>12 000 tg</td>
    <td>Anne</td>
  </tr>
  <tr class="grey">
    <td>Zumba + Strong by Zumba</td>
    <td>Mon-Wed-Fri 19:30-21:30</td>
    <td>18 000 tg</td>
    <td>Alex</td>
  </tr>
  <tr class="darkgrey">
    <td>Hip-hop dancing</td>
    <td>Mon-Wed-Fri 12:00-13:00</td>
    <td>10 000 tg</td>
    <td>John</td>
  </tr>
  <tr class="grey">
    <td>Classic Zumba</td>
    <td>Mon-Wed-Fri 19:30-20:30</td>
    <td>12 000 tg</td>
    <td>Alex</td>
  </tr>
  <tr class="darkgrey">
    <td>Cycle</td>
    <td>Mon-Tue-Fri 16:00-17:00, 19:00-20:00</td>
    <td>15 000 tg</td>
    <td>Daniel</td>
  </tr>
</table>
</div>
