table{
  width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}
th{
  background-color: #ffff66;
  height: 50px;
  padding: 0 30px;
}

td{
  height: 50px;
  padding: 0 15px;
}

.grey{
  background-color: lightgrey;
  text-align: center;
}

.darkgrey{
  background-color: darkgrey;
}

.container{
  width: 1080px;
  margin: 0 auto;
}
h2{
  text-align: center;
}

.tittle{
  text-align: center;
  font-size: 1.5em;
  padding: 0 50px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  color: #ff6666 ;
}
